html,
body,
input,
button,
select,
textarea {
  font: 15px/25px "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #464643;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.container {
  width: 617px;
  margin: 0px auto;
  border: 1px solid #f1f1f1;
}

header {
  background-color: #f6f6f3;
  padding: 15px 17px;
  margin-bottom: 20px;
}

header h1 {
  margin: 0px;
  font-weight: 250;
  letter-spacing: -1px;
  font-size: 23px;
}

.oly-logo {
  width: 70px;
  height: auto;
  float: right;
  margin-top: -5px;
}

.legislators {
  margin-left: 14px;
}

.legislator {
  width: 150px;
  min-height: 200px;
  float: left;
  margin: 0px;
}

.legislator-details {
  width: 130px;
  height: 120px;
  margin-top: -120px;
  background-color: #f3f3ec;
  background-color: rgba(243, 243, 236, 0.9);
  z-index: 1000;
  position: relative;
  padding: 0px 5px;
  display: none;
}

.legislator:hover .legislator-details {
  display: block;
}

h3.legislator-name {
  font-weight: 500;
  font-size: 12px;
  margin: 0px;
}

h4.legislator-district {
  font-weight: 300;
  font-size: 11px;
  margin-top: 0px;
  line-height: 10px;
}

span.legislator-party {
  color: #767673;
  font-size: 11px;
}

.legislator-photo {
  width: 140px;
  height: 160px;
  overflow: hidden;
}

.legislator-photo img {
  width: 100%;
  height: auto;
}

.container:after,
.clearfix:after,
.row:before,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
* html .clearfix {
  height: 1%;
  overflow: visible;
}
*:first-child + html .clearfix {
  min-height: 1%;
}